@using Shop_Quan_Ao.Models;
@model List<DanhMuc>


<ul class="container__catagories-list">
    @foreach (DanhMuc item in @Model)
    {

        <li class="container__catagories-item">

            @Html.ActionLink(@item.TenDM, "Hien_Thi_DS_DanhMuc", "Home", new { id = item.MaDM }, new { @class = "container__catagories-link" })

        </li>
    }
</ul>

