@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["message"] != null)
{
    <script>alert('@TempData["message"]');</script>
}
@if (TempData["message1"] != null)
{
    <script>alert('@TempData["message1"]');</script>
}
<div class="row">
    <div class="col wide l-12">
        <div class="container__silder">

        </div>
    </div>
</div>
<div class="row">
    <div class="container__ads">
        <div class="container__ads-item col wide l-3">
            <i class="container__ads-icon fas fa-crown"></i>
            <div class="container__ads-content">
                <p class="container__ads-heading">PHONG CÁCH DẪN ĐẦU</p>
                <p class="container__ads-title">
                    Chất Liệu - Cao Cấp <br>
                    Đẳng Cấp Tiên Phong <br>
                    Chất Lượng - Giá Rẻ
                </p>

            </div>
        </div>
        <div class="container__ads-item col wide l-3">
            <i class="container__ads-icon far fa-gem"></i>
            <div class="container__ads-content">
                <p class="container__ads-heading">ƯU ĐÃI THÀNH VIÊN</p>
                <p class="container__ads-title">
                    Chế độ ưu đãi thành viên VIP <br>
                    Tích Điểm Đổi Quà
                </p>
            </div>
        </div>
        <div class="container__ads-item col wide l-3">
            <i class="container__ads-icon fas fa-share-alt"></i>
            <div class="container__ads-content">
                <p class="container__ads-heading">DỊCH VỤ UY TÍN</p>
                <p class="container__ads-title">
                    Chuyên Nghiệp
                    Giao hàng và thu tiền tận nơi
                    Hỗ trợ tư vấn : 0919999325
                </p>
            </div>
        </div>
        <div class="container__ads-item col wide l-3">
            <i class="container__ads-icon fas fa-map-marked-alt"></i>
            <div class="container__ads-content">
                <p class="container__ads-heading">GIAO HÀNG TOÀN QUỐC</p>
                <p class="container__ads-title">
                    Miễn phí Ship <br>
                    cho đơn hàng >700.000VNĐ <br>
                    Mua Hàng -Thanh toán online
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container__collection">

        <div class="col wide l-6">
            <a href="#" class="container__collection-left-link">
                <img src="/Content/assets/img/collec_left.png" alt="collection" class="container__collection-left-img">
            </a>
        </div>
        <div class="col wide l-6">
            <div class="row">
                <div class="col wide l-6">
                    <a href="@Url.Action( "Hien_Thi_DS_DanhMuc", "Home", new { id = 7 }) " class=" container__collection-right-link">
                        <img src="/Content/assets/img/colect_r_1.jpg" alt="coleect" class="container__collection-right-img">
                    </a>
                </div>
                <div class="col wide l-6">
                    <a href="@Url.Action( "Hien_Thi_DS_DanhMuc", "Home", new { id = 2 }) " class="container__collection-right-link">
                        <img src="/Content/assets/img/colect_r_2.jpg" alt="collect" class="container__collection-right-img">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col wide l-12">
                    <a href="#" class="container__collection-right-link">
                        <img src="/Content/assets/img/colect_r_bottom.jpg" alt="colect" class="container__collection-right-img">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col wide l-12">
        <div class="container__silder--bottom">

        </div>
    </div>

</div>

<div class="row">
    <div class="col wide l-12">
        <div class="container__silder--bottom_2">

        </div>
    </div>

</div>
