<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="./assets/css/base.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/responsive.css" />
    <link rel="stylesheet" href="./assets/css/grid.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="stylesheet" href="./assets/font/themify-icons/themify-icons.css">
    <link href="/assets/font/fonta
  wesome-free-5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./assets/font/fontawesome-free-5.15.3/css/all.min.css">
    <link rel="icon" href="./assets/font/themify-icons/SVG/shopping-cart-full.svg" type="image/gif" sizes="16x16" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
    <title>Logan Clothing Store</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
