@{
    ViewBag.Title = "GioHangTrong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="container__cart-heading">Giỏ Hàng Rỗng</p>
<div class="row">
    <div class="col wide l-12">
        <div class="container__silder--bottom_3">
        </div>
    </div>
 

</div>
<div class="row">
    <div class="col wide l-12" style="margin:64px 0">
        <a href="@Url.Action("Index","Home")" class="btn contianer__cart-table-btn--shopping">
            <p>Tiếp Tục Mua Sắm</p>
        </a>
    </div>

</div>
